@font-face {
  font-family: 'NanumDarEuiGweDo';
  src:
    url('../assets/fonts/NanumDarEuiGweDo.woff2') format('woff2'),
    url('../assets/fonts/NanumDarEuiGweDo.woff') format('woff'),
    url('../assets/fonts/NanumDarEuiGweDo.ttf') format('truetype');
  font-display: fallback;
}
